@{
    ViewData["Title"] = "Confirmação apagar o contato";
}

<div class="text-center mt-5">
    <h3>Realmente deseja apagar o contato (x) ?</h3>
</div>

<div class="d-grid gap-5 d-md-flex justify-content-md-center mt-5">
    <a class="btn btn-primary" role="button">Cancelar exclusão</a>
    <a class="btn btn-danger" role="button">Confirmar exclusão</a>
</div>
